<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="Nuget Official" value="https://api.nuget.org/v3/index.json" />
		<add key="VS Editor" value="https://vside.myget.org/F/vssdk/api/v3/index.json" />
		<add key="VS Editor Impl" value="https://vside.myget.org/F/vs-impl/api/v3/index.json" />
		<add key="VS Editor Legacy" value="https://www.myget.org/F/vs-editor/api/v3/index.json" />
	</packageSources>
</configuration>

